{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'images/slider_puffin_jpegmini_mobile.jpg' %}">
        </div>

    </div>
</div>
    <div class="col-10 mx-auto col-md-6 my-3">
    <div>
        <h1 class="product_title"> Teddy Bear</h1>
        <h5 class="text-info font-italic mb-4">$9.99</h5>
        <p class="product_desc">Product Description</p>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla massa purus, et venenatis felis eleifend eu. Morbi volutpat ac ante tempor dignissim. Integer hendrerit gravida iaculis. Duis tristique iaculis metus. Maecenas cursus leo quis posuere pellentesque. Sed convallis urna ut mi sagittis aliquam. Donec at venenatis elit. Aenean pellentesque nunc ut gravida sodales. Nulla efficitur imperdiet porttitor.
        </p>
        <p class="text-justify product_text">Out of Stock</p>
    </div>
    </div>
{% endblock %}